@font-face {
    font-family: Jost;
    src: url("../fonts/font.ttf");
}
body {
    box-sizing: border-box;
    margin: 0;
    font-family: Jost;
}
a {text-decoration: none;}

h3 {font-size: 28px}

header {
    z-index: 9999;
    position: fixed;
    width: 96%;
    padding: 10px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {display: none}
.header_link {
    color: white;
    margin: 0 10px;
    font-size: 24px;
}

.header_link, .previous, .next, header a svg, #slider .buy a {transition: 0.6s ease;}

header a:hover, header a svg{color: black;}

#slider {position: relative;}

#slider img {
    width: 100%;
    max-height: 1030px;
}

.slide a {
    position: absolute;
    left: 50%;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
}

.previous, .next {cursor: pointer;}
.previous:hover, .next:hover, header a svg:hover {color: white;}

.previous {
    position: absolute;
    left: 20px;
    top: 50%;
}
#slider .buy {
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;
}

#slider .buy a {
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    font-size: 24px;
}

#slider .buy a:hover {
    color: black;
    background: white;
}

.next {
    position: absolute;
    right: 20px;
    top: 50%;
}

#best_sale, #follow_us {margin: 40px 0;}

#best_sale h3, #best_sale h4 {
    text-align: center;
    margin: 5px 0;
}

#best_sale h4 {
    font-size: 18px;
    font-weight: 400;
    color: gray;
}

.products {display: flex;}

.products > div {width: 16.666666667%;}

.products > div img {width: 90%;}

.products > div h3 {font-weight: 500;}

.products > div > div {position: relative;}

.products > div > div a{
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    background: black;
    transition: 0.6s ease;
    color: white;
}

.products > div:hover {cursor: pointer;}

.products > div:hover .best_1, .best_2 {display: none;}

.products > div:hover .best_2, .products > div:hover > div a {display: block;}

.products > div:hover > div a:hover {background: rgba(0,0,0,0.5);}


#celebrities {
    padding: 100px 0;
    background: #ebebeb;
}

#celebrities h3, #follow_us h3 {
    text-align: center;
}

#celebrities_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0;
}

.celebrity {
    margin: 0 40px;
}

.celebrity h4 {
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
    text-align: center;
}

#celebrities .more {
    width: 100%;
    text-align: center;
}

#celebrities .more a {
    color: black;
    transition: 0.6s ease;
    border: 2px solid black;
    font-size: 24px;
    padding: 5px 10px;
}

#celebrities .more a:hover {
    color: white;
    background: black;
}

#follow_us div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#follow_us > div > div {
    width: 25%;
    margin: 5px;
    overflow: hidden;
}

#follow_us img {
    width: 100%;
    transition: 0.6s ease;
}

#follow_us div img:hover {transform: scale(120%);}

footer {
    color: white;
    background: #282828;
    padding: 80px 40px 0;
}

footer ul {
    padding: 0;
    border: 1px solid #464646;
    display: flex;
    margin: 0 150px 40px;
    list-style: none;
}

footer li {
    border-left: 1px solid #464646;
    display: inline-block;
    width: 50%;
    text-align: center;
}

footer li:first-child {border: 0;}

footer li a {
    display: block;
    font-size: 12px;
    font-weight: 500;
    padding: 18px 0;
    letter-spacing: 2px;
    transition: 0.6s ease;
}

footer li a:hover {
    cursor: pointer;
    background: #464646;
}

footer #links {
    display: flex;
    justify-content: space-evenly;
}

#addr img {width: 100px;}

footer #links > div {
    width: 20%;
    display: flex;
    flex-direction: column;
}

footer #links > div a {margin: 10px 0;}

footer #links > div a:hover {color: #ebebeb;}

footer a {color: white;}

footer p {margin: 20px 0;}

footer #links h4 {
    margin: 10px 0;
    font-size: 24px;
    color: #ebebeb;
    font-weight: 400;
}

#newsletter input {
    border: 1px solid #464646;
    background: transparent;
    margin-bottom: 25px;
    padding: 10px 20px;
    outline: 0;
    outline-offset: 0;
    color: white;
}

#newsletter input:focus {
    border: 1px solid #464646;
    box-shadow: 1px 1px 5px #464646,
                -1px -1px 5px #464646;
}

#newsletter button {
    padding: 10px 10px;
    color: #fff;
    font-weight: 500;
    border: 1px solid #464646;
    transition: 0.6s ease;
    font-size: 13px;
    background: #9d9d9d;
}

#newsletter button:hover {background: #777777;}

#copyright {
    border-top: 1px solid #464646;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    padding: 20px 300px;
}

#copyright span {
    color: #9d9d9d;
}
@media (max-width: 992px) {
    header {
        background: white;
        position: sticky;
        top: 0;
    }
    header img {
        width: 64px;
    }
    header nav {display: none;}
    #menu {
        display: block;
        border: none;
        background: transparent;
    }
    .iconMenu {
        width: 28px;
        height: 3px;
        background-color: #333333;
        display: block;
        margin: 2px 0;
        transition: 0.6s ease;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .celebrity {margin: 0 100px}
}
@media (max-width: 767px) {
    .celebrity {margin: 0 200px}
}

@media screen and (min-width: 768px) {
    .span-around, .span-around-white {
        position: relative;
        padding: 0 70px;
    }
    .span-around::before, .span-around::after {
        content: "";
        position: absolute;
        top: 14px;
        width: 130px;
        height: 2px;
        border-top: 2px solid #ebebeb;
        border-bottom: 2px solid #ebebeb;
    }
    .span-around::after, .span-around-white:after {left: 100%;}
    .span-around::before, .span-around-white::before {right: 100%;}
    .span-around-white::before, .span-around-white:after {
        content: "";
        position: absolute;
        top: 14px;
        width: 130px;
        height: 2px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
}