@font-face {
    font-family: Jost;
    src: url("../fonts/font.ttf");
}
body {
    box-sizing: border-box;
    margin: 0;
    font-family: Jost;
}
a {
    text-decoration: none;
}

header {
    z-index: 9999;
    position: fixed;
    width: 96%;
    margin: 10px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_link {
    color: white;
    margin: 0 10px;
    font-size: 24px;
}

.header_link, .previous, .next, header a svg, #slider .buy a {
    transition: 0.6s ease;
}

header a:hover{
    color: black;
}

header a svg {
    color: black;
}

#slider {
    position: relative;
}

#slider img {
    width: 100%;
    max-height: 1030px;
}

.slide a {
    position: absolute;
    left: 50%;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
}

.previous, .next {
    cursor: pointer;
}
.previous:hover, .next:hover, header a svg:hover {
    color: white;
}

.previous {
    position: absolute;
    left: 20px;
    top: 50%;
}
#slider .buy {
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;
}

#slider .buy a {
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    font-size: 24px;
}

#slider .buy a:hover {
    color: gray;
    border: 2px solid gray;
}

.next {
    position: absolute;
    right: 20px;
    top: 50%;
}

#best_sale, #follow_us {
    margin: 40px 0;
}

#best_sale h3, #best_sale h4 {
    text-align: center;
    margin: 5px 0;
}

#best_sale h3 {
    font-size: 24px;
}

#best_sale h4 {
    font-size: 18px;
    font-weight: 400;
    color: gray;
}

.products {
    display: flex;
}

.products > div {
    width: 16.666666667%;
}

.products > div img {
    width: 90%;
}

.products > div h3 {
    font-weight: 500;
}

.products > div > div {
    position: relative;
}

.products > div > div a{
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    background: black;
    transition: 0.6s ease;
    color: white;
}

.best_2 {
    display: none;
}

.products > div:hover {
    cursor: pointer;
}

.products > div:hover .best_1 {
    display: none;
}

.products > div:hover .best_2 {
    display: block;
}

.products > div:hover > div a{
    display: block;
}

.products > div:hover > div a:hover {
    background: rgba(0,0,0,0.5);
}

#follow_us h3 {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .span-around {
        position: relative;
        padding: 0 70px;
    }
    .span-around::before, .span-around::after {
        content: "";
        position: absolute;
        top: 13px;
        width: 130px;
        height: 2px;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }
    .span-around::after {
        left: 100%;
    }
    .span-around::before {
        right: 100%;
    }
}